body {
    font-family: 'Alegreya', serif;
    width: 90%;
    padding-left: 5%;
}

#resumeContent {
    margin: 50px 25px 50px 25px;
    padding: 10px 25px 50px 25px;
    background-color: #999;
}

#menuBar {
    margin: 50px 25px 50px 25px;
    padding: 10px 5px 10px 5px;
}

#profile {
#    margin: 50px 25px 50px 25px;
    padding: 10px 50px 10px 50px;
}

dd {
    padding: 0px 0px 5px 10px;
}

.jobLabel {
    padding-top: 15px;
}

.jobContent {
    margin: 0px 50px 150px 0px;
}    

.jobTitle {
    margin: 50px 0px 0px 0px;
}